.p-bridalveil {
  margin: 1em 1em 1em 1em;
  padding: 0;
  color: #FFFFFF;

}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}

.h1 {
  width: 300px;
  height: auto;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-align: center;
  color: #FFAE00;
}
.p-bridalveil {
   color: #FFFFFF;
   font-size: 1em;
   text-align: center;
   text-transform: uppercase;
   padding: 0px 10px;
}

.footer {
   grid-area: footer;
   color: #FFFFFF;
   font-size: 1em;
   text-align: center;
   padding: 0px 10px;
}